.head{
    display: flex;
    text-align: center;
    justify-content: right;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(183, 206, 255);
}
.menu_ul{
    display: flex;
    text-decoration: none;
    list-style: none;
   
  }
.menu_ul li{
    padding: 2px 5px;
    border:1px solid black;
    background-color: rgb(129, 127, 230);
    color: white;
}
.menu_ul li:hover{
    background-color: blue;
    cursor: default;
}
.log{
    display: flex;
    margin-right:200px;
}
.logo{
    margin: 10px;
    height: 90px;
    width: 90px;
   
}
.log p{
    font-size: 25px;
}
.use{
    display: flex;
}
.use div{
    margin: 20px;
}
.use div p{
    margin: 0px;
    padding: 0px;
}
.log-in{
    margin: 10px;
    width: 30px;
    background-color: rgb(127, 155, 214);
    color: blue;
}
.registr{
    margin: 10px;
    width: 30px;
    background-color: rgb(129, 127, 230);
    color: rgb(129, 127, 230);
}

